body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 25px;
    padding-left: 20px;
}
p{
    font-size: 20px;
}
h1{
    font-size: 40px;
    font-weight: 25px;
    text-decoration: underline;
    text-align: center;
    
}
h5{
    font-size: 15px;
}
.ind{
    padding-top: 5px;
    margin-left: 30px;
}


